@tailwind base;
@tailwind components;
@tailwind utilities;


  $color: #111517;
  $background-light: #FFFFFF;
  $background-dark: #808080;

  
  body {
    color: $color;
    background: $background-light
  } 
  
  
  @media (prefers-color-scheme: dark) {
    $color: #FFFFFF;
    $background-light: #808080;
    $background-dark: #2B3844;
  
    body {
      color: $color;
      background: $background-light
    }   
  } 
