@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #F2F2F2;
  --bgLight: #FFFFFF;
  --textColor: #111517;
}

body {
  color: var(--textColor);
  background: var(--bg);
}



@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2B3844;
    --bgLight: #808080;
    --textColor: #FFFFFF;
  }

  body {
    color: var(--textColor);
    background: var(--bg);
  }
}

