@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-LightTheme: #F2F2F2;
  --bgLight-LightTheme: #FFFFFF;
  --textColor-LightTheme: #111517;

}

body {
  color: var(--textColor);
  background: var(--bgColor);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-LightTheme: #F2F2F2;
    --bgLight-LightTheme: #FFFFFF;
    --textColor-LightTheme: #111517;
  
    color: #FFFFFF;
    background: #808080;
  }
}

