
.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 80px;
    gap: 30px 30px;
    justify-content:space-between;
}

.brd {
    border: 1px solid red;
}

.searchFilterContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 80px;
    gap: 30px 30px;
    justify-content:space-between;
}

@media screen and (max-width: 400px) {
    .cardsContainer {
        margin: 25px 40px;
        gap: 15px 15px;

    }
    
}