
.main {
    width: 100%;
    padding:3rem 5rem;
    padding-bottom: 8rem;
    /* border: 1px solid red; */
}
.cardsContainer {
    display: flex;
    flex-flow: row wrap;
    /* margin: 50px 80px; */
    gap: 30px 30px;
    justify-content: center;
    /* border: 1px solid red; */
}

.brd {
    border: 1px solid red;
}

.searchFilterContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0px 0px 3.13rem 0px;
    gap: 30px 30px;
    justify-content:space-between;
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        padding:2rem 1rem;
        padding-bottom: 6rem;
        /* border: 1px solid red; */
    }

    .searchFilterContainer {
        margin: 0rem 0px 2rem 0px;
    }

    .cardsContainer {
        gap: 15px 15px;
    }
    
}