.card {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  /* border: 1px solid white; */
  background-color: var(--bgLight);
}
.card:hover {
  border: 1px solid var(--bgLight);
  background-color: var(--bg);

}

.card .imageContainer {
  position: relative;
  width: 16.5rem;
  height: 10rem;
}

.card .CardImage {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;

}
.card .textContainer {
  margin-top: 1.7rem;
  margin-left: 1rem;
}
