.searchContainer {
    background-color: var(--bgLight);
    color: var(--textColor);
}

.searchContainer input {
    background-color: inherit;
    color: inherit;

}
.searchContainer input:focus {
    outline-style: none;
    background-color: var(--bgLight);
    color: var(--textColor);

}
.searchContainer input::placeholder {
    color: var(--textColor);
}