.searchContainer {
    background-color: var(--bgLight);
    color: var(--textColor);
}

.searchContainer input {
    background-color: inherit;
    color: inherit;

}
.searchContainer input:focus, .searchContainer input:hover {
    outline-style: none;
    background-color: var(--bgLight);
    color: var(--textColor);

}
.searchContainer input::placeholder {
    color: var(--textColor);
}

@media screen and (max-width: 400px) {
    
}